top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  z-index: 1;
  display: flex;
  flex-shrink: 0;
  -webkit-app-region: drag;
  overflow: visible;
  /* background: var(--color-bg-page); */
  /* border-bottom: 1px solid var(--color-border-muted); */
  /* background: color-mix(in srgb, var(--color-bg-page) 50%, transparent); */
  /* backdrop-filter: blur(20px); */
}

top-bar.mac {
  padding-left: 76px;
}

top-bar.mac.fullscreen {
  padding-left: 0;
}

.blurred top-bar {
  color: var(--color-text-muted);
}

top-bar .workspace-select-container {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 8px;
  justify-content: center;
}

top-bar .workspace-select-container un-select {
  -webkit-app-region: no-drag;
  pointer-events: auto;
}

top-bar .button-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 100%;
  flex-shrink: 0;
  padding: 0 var(--space-2);
}

top-bar .settings-button {
  -webkit-app-region: no-drag;
}
