/* Main layout */

app-root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

app-root .stack {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-root .workspace-content {
  position: relative;
  flex-grow: 1;
  background: var(--color-bg-page);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

app-root .toolbar {
  position: relative;
  background: var(--color-bg-chrome);
  border-top: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text-muted);
}

.toolbar resource-bar {
  align-self: stretch;
}
